.vscode/
tempMulti/
*.pdf
*.docx
days/
simulation.gif
__pycache__/
debug/
population.txt
resources/terrain_temp.txt
resources/terrain_temp copy.txt
resources/terrain_temp.txt
resources/terrain_temp.txt
